*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

header{background-color: #EEEFF1;}

.head_block{
	text-align: left;
	margin: 0 auto;
	width: 1050px;
}

nav ul{
	padding: 79px 0 151px 0;
	text-transform: uppercase;
	list-style: none;
}

li{
	margin-right: 42px;
	display: inline;
}

a{
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

.homepage_link{
	font-weight: 500;
	color: #34547A;
}

h1{
	height: 45px;
	margin: 0 auto 60px auto;
	font-size: 48px;
	font-weight: 500;
}

.head_block p{
	width: 540px;
	height: 67px;
	margin-bottom: 65px;
	line-height: 26px;
	color: #727272;;
}

button{
	width: 225px;
	height: 65px;
	padding: 20px 40px;
	margin-bottom: 140px;
	background-color: #34547A;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

button a{color: #fff;}

h2{
	margin: 106px 0 50px 0;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
}

.description{
	margin: 0 auto 100px auto;
	width: 539px;
	height: 67px;
	text-align: center;
	line-height: 26px;
	color: #727272;;
}

#second_description{margin-bottom: 57px;}

section{
	display: flex;
	padding: 100px 0;
	background-color: #34547A;
}

.images{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.number_of_works{
	padding: 0 50px 0 20px;
	color: #fff;
}

h3{
	padding-bottom: 10px;
	font-size: 21px;
	font-weight: 500;
}

.video{
	margin-bottom: 100px;
	text-align: center;
}

footer{background-color: #34547A;}

.footer_information{
	margin: 0 auto;
	padding: 50px 0;
	width: 1120px;
	text-align: left;
	color: #fff;
}

.footer_information h3{padding-bottom: 20px;}

.footer_information p{font-size: 13px;}